body {
	background-color: rgb(165,42,42);
	color: white;
}

a {
	color: red;
}

.top-bar {
	display: flex;
	justify-content: space-between;
}
.accessibility-link {
	background-color: rgb(75,0,130);
	height: 15%;
}
.form {
	display: flex;
	flex-direction: column;
}
.chess {
	width: 100%;
}

.pharoh {
	width:15%;
	height: 85%;
}

button {
	 color:	rgb(128,0,128);
	 background-color: rgb(255,0,0);
	 width: 12%;
	 font-family: Helvetica, Arial, Times;
	 font-weight: bold;
}
.buttons1 {
     padding: 1%;
     display: flex;
	 justify-content: space-between;
}


.text-box-1 {
	display: flex;
	flex-wrap: wrap;
}

h2 {
	margin: 10px;
}
h3 {
	margin: 10px;
}
h4 {
	margin: 10px;
}


.main-body{
	display: flex;
	
}
.main-text {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 2em;

	
}
.images {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.sub-images  {
	width: 100%;
}




@media screen and (max-width: 700px) {
	.main-body {
			display: flex;
			flex-direction: column;
	
		}
		button {
			font-size: x-small;
		}
	}
	@media screen and (max-width: 540px) {
		button {
			font-size: xx-small;
		}
	}

